<hr />
<footer
  class="footer"
  role="contentinfo"
  itemscope
  itemtype="http://schema.org/WPFooter"
>
  <div
    class="footer-left"
    itemscope
    itemtype="http://schema.org/Organization"
    class="h-card"
  >
    <img
      src="Titan_Watches_logo.png"
      alt="Logo"
      itemprop="logo"
      class="u-logo logo"
    />
    <h3 itemprop="name" class="p-name">Titan<span>Store</span></h3>
    <nav aria-label="Footer Navigation">
      <p class="footer-links">
        <a routerLink="/about">About </a>
        <a routerLink="/contact">Contact </a>
        <a routerLink="/privacypolicy">Privacy Policy </a>
        <a routerLink="/cookiepolicy">Cookie Policy </a>
        <a routerLink="/termsandcond">Terms and Conditions </a>
      </p>
    </nav>
    <p class="footer-name">Titan Store © 2024</p>
  </div>

  <div class="footer-center">
    <div itemscope itemtype="http://schema.org/PostalAddress" class="p-address">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      <p>
        <span itemprop="streetAddress" class="p-street-address"
          >Titan Store</span
        >
        <span itemprop="addressLocality" class="p-locality">Gachibowli</span>
        <span itemprop="addressRegion" class="p-region">Telangana</span>
        <span itemprop="postalCode" class="p-postal-code">500032</span>
      </p>
    </div>
    <div>
      <i class="fa fa-phone" aria-hidden="true"></i>
      <p itemprop="telephone" class="p-tel">+1 997-2382817</p>
    </div>
    <div>
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <p>
        <a href="mailto:support@titan.com" itemprop="email" class="u-email">{{
          this.mail
        }}</a>
      </p>
    </div>
  </div>

  <div class="footer-right" style="margin-left:400px;">
    <p class="footer-about" style="font-size: 15px;">
      <span style="font-size: 25px;">Titan</span>
      A journey of over 30 years that saw Titan Watch Project becoming Titan
      Watches, to Titan Industries, and to what's today known as the Titan
      Company Limited. With hitting the 15 million mark every year in
      production, each year saw new technologies and innovations.
    </p>
    <div class="footer-socials">
      <a href="https://m.facebook.com/titanmiddleeast/?wtsid=rdr_0gAX00Ixle1pZUq9F" rel="me" aria-label="Facebook" itemprop="sameAs" class="u-url"
        ><i class="bi bi-facebook"></i
      ></a>
      <a href="https://www.instagram.com/titanwatchesofficial/" rel="me" aria-label="Twitter" itemprop="sameAs" class="u-url"
        ><i class="bi bi-twitter"></i
      ></a>
      <a href="https://www.instagram.com/titanwatchesofficial/" rel="me" aria-label="LinkedIn" itemprop="sameAs" class="u-url"
        ><i class="bi bi-linkedin"></i
      ></a>
      <a
        href="https://www.instagram.com/titanwatchesofficial/"
        rel="me"
        aria-label="Instagram"
        itemprop="sameAs"
        class="u-url"
        ><i class="bi bi-instagram"></i
      ></a>
    </div>
  </div>
</footer>
