<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        .page-width {
            margin-left: 100px;  /* Adjust the value as needed */
            margin-right:100px; /* Adjust the value as needed */
        }
    </style>
</head>
<body>
    <div class="page-width page-width main-page section-template--16370491785375__main-padding">
        <h1 class="main-page-title page-title">ABOUT US</h1>
        <div class="rte">
            <h2 class="title">Titan Overview</h2>
            <p>Titan has come a long way since 1984 when we started with one product category. Today, with over 8,000 employees and about 38,000 in the overall Titan ecosystem, 16 brands and over 2,000 retail stores, we are as committed&nbsp; as ever to delivering profitable and responsible growth for all our stakeholders.</p>
            <p>Titan is India's leading lifestyle company and among the most admired and respected corporates in the country. We have established leading positions in the Jewellery, Watches and EyeCare categories led by our trusted brands and superior customer experience. we have also diversified into Wearables, Indian Dress Wear and Fragrances &amp; Fashion Accessories and are driving differentiation in these lifestyle categories, underpinned by our deep understanding of customer preferences.</p>
            <p>The Journey</p>
            <h2 class="title">Our Heritage</h2>
            <p>A journey of over 30 years that saw Titan Watch Project becoming Titan Watches, to Titan Industries, and to what’s today known as the Titan Company Limited. With hitting the 15 million mark every year in production, each year saw new technologies and innovations.</p>
            <p>Our Portfolio</p>
            <h2 class="title">Business Divisions</h2>
            <p>We, at Titan, always strive to inculcate innovation in all of our offerings. Today, we have three major divisions – Watches and Wearables, Jewellery, Eyewear, and scope for development under New Business Divisions.</p>
            <p>Business Opportunities</p>
            <p>Wish to build a business with Titan Company Ltd.? We provide opportunities in four arenas – Franchising, Distribution, Licensing, and Vendor Development.</p>
            <p>Sustainability at Titan</p>
            <h2 class="title">Growth with Responsibility</h2>
            <p>Business sustainability comes with responsible behavior towards all its stakeholders and more specifically towards the environment and community and Titan has a rich legacy of the same.</p>
            <p>Extensions Beyond Brands</p>
            <h2 class="title">Subsidiaries</h2>
            <p>We at Titan have a host of subsidiaries, ranging from Aerospace &amp; Defence to Commodity Trading and more. Our subsidiaries go beyond India, with establishments branching across the world.</p>
        </div>
    </div>
</body>
</html>
