.navName {
  background-color: #333;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 20px;
  display: fixed;
  /* padding-bottom: 10px; */
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo img {
  width: 150px;
  height: 30px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  font-size: larger;
}

.nav-links li a:hover {
  /* background-color: #111; */
  /* border-radius: 4px; */
  /* border-color: aliceblue; */
  border-bottom: 3px white solid;
  font-size: 21px;
}

.search-bar {
  display: flex;
  align-items: center;
  padding-right: 70px;
}

.search-bar input {
  padding: 6px;
  margin-right: 10px;
  border: 2px solid lightslategray;
  border-radius: 4px;
  padding-right: 20px;
  width: 300px;
  height: 50px;
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.search-bar button:hover {
  background-color: #111;
}
