<div class="page-width page-width main-page section-template--16370491785375__main-padding ">
  <h1 class="main-page-title page-title ">
    PRIVACY POLICY
  </h1>
  <style>
    .page-width {
        margin-left: 100px;  /* Adjust the value as needed */
        margin-right:100px; /* Adjust the value as needed */
    }
</style>

  <div class="rte">
    <h2 class="otnotice-section" data-mce-fragment="1">Who We Are</h2>
<section class="otnotice-section" data-mce-fragment="1">
<div class="otnotice-section-content" data-mce-fragment="1">
<p id="isPasted" data-mce-fragment="1">Titan Global Retail L.L.C (TGRL) incorporated in the United Arab Emirates (“<strong data-mce-fragment="1">UAE</strong>”) is a wholly owned subsidiary of Titan Holding International FZCO (THI FZCO). TGRL has been incorporated to carry out the business of manufacturing, marketing and retailing of watches, jewellery, eyewear, perfumes, Indian dress wear and other lifestyle products through an effective retail network. TGRL is a company incorporated under the laws of Dubai, UAE, having its registered office at &nbsp;PO Box 371304, W4B, 844, Dubai Airport Free zone, Dubai, UAE hereinafter collectively referred to as “<strong data-mce-fragment="1">We</strong>” or “<strong data-mce-fragment="1">Us</strong>” or “<strong data-mce-fragment="1">Company</strong>” or “<strong data-mce-fragment="1">TGRL</strong>”.&nbsp;</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1">For purposes of the relevant privacy regulations, TGRL is considered a data controller and processor for the personal data obtained or processed by it or on its behalf of TGRL. TGRL will also determine the means and purposes of processing personal data in accordance with the relevant laws.&nbsp;</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1">This Privacy Notice (“Privacy Notice”) sets out the basis on which any personal data We collect from you, or that you provide to us, will be processed by us or on behalf of Us. Please read this Privacy Notice carefully, which describes the ways in which We collect information and personal data about anyone who visit TGRL’s websites, mobile sites and mobile applications or at our store, how We hold and use personal data and how We respect your privacy rights.</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1">By using the services, you agree to the collection, use, and disclosure of your information as described in this Privacy Notice.&nbsp;</p>
</div>
</section>
<section id="otnotice-section-aee97ed4-c56f-4a0a-83cc-2f48f53a8a07" class="otnotice-section" data-mce-fragment="1">
<h2 class="otnotice-section-header" data-mce-fragment="1">What Information We Collect?</h2>
<div class="otnotice-section-content" data-mce-fragment="1">
<p id="isPasted" data-mce-fragment="1">We collect information, including personal information about you, as a TGRL customer, user of TGRL apps. and/or visitor to a TGRL website or TGRL administered social media page or in-store customer. This information may be any of the following:&nbsp;</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1"><strong data-mce-fragment="1">1.1 Information that you provide Us&nbsp;</strong></p>
<p data-mce-fragment="1">When creating a TGRL account profile, we will ask for your name, email address and gender, date of birth, postal address, your contact preferences and information necessary for answering any security questions.</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1"><strong data-mce-fragment="1">1.2 Information that is automatically collected when you visit the application</strong></p>
<p data-mce-fragment="1">When you use the services, certain information may be collected automatically, which includes:</p>
<p data-mce-fragment="1">a. Your computer’s Internet Protocol (IP) address,</p>
<p data-mce-fragment="1">b. Your browser type and operating system,</p>
<p data-mce-fragment="1">c. Web pages and links you visit within the services,&nbsp;</p>
<p data-mce-fragment="1">d. Advertisements you view,</p>
<p data-mce-fragment="1">e. Your bandwidth speed and information about the about the software programs that are installed on your computer,</p>
<p data-mce-fragment="1">f. Standard server log information</p>
<p data-mce-fragment="1">g. Additional information about your interactions with the site. We may use tools and software to monitor and record information about your interactions with the site, including form field entries. We may collect and use this information for compliance verification purposes.&nbsp;</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1"><strong data-mce-fragment="1">1.3 Information that we collect from other sources</strong></p>
<p data-mce-fragment="1">We may receive information about you from publicly and commercially available sources (as permitted by law), which we may combine with other information we receive from or about you. We also may receive information about you from third-party social networking services when you choose to connect with those services.</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1"><strong data-mce-fragment="1">1.4 Combination of Information&nbsp;</strong></p>
<p data-mce-fragment="1">We may combine the information we receive from and about you, including information you provide to us and information we automatically collect through our services, as well as information collected offline, across other computers or devices that you may use.&nbsp;</p>
</div>
</section>
<section id="otnotice-section-eb0c6a18-4a21-4b24-9b48-09504e7e4d2c" class="otnotice-section" data-mce-fragment="1">
<h2 class="otnotice-section-header" data-mce-fragment="1">How Do We Use The Information We Collect</h2>
<div class="otnotice-section-content" data-mce-fragment="1">
<p id="isPasted" data-mce-fragment="1"><strong data-mce-fragment="1">2.1 General:</strong></p>
<p data-mce-fragment="1">TGRL may use the information collected from you to register you or your device for a service, to provide a service or feature you request, to provide customized content and make recommendations based on your past activities on our application.</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1"><strong data-mce-fragment="1">2.2 Advertisements:</strong></p>
<p data-mce-fragment="1">TGRL may use your information to provide you with product and service updates, newsletters and other communications about existing and/or new products and services by post, email, telephone, in-device messaging and/or text message (SMS), if you have provided your prior consent or we are otherwise permitted to do so under the applicable law.</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1"><strong data-mce-fragment="1">2.3 Statistics and Research analytics:</strong></p>
<p data-mce-fragment="1">TGRL may use your information to analyse and create user group profiles or segment data and to otherwise create anonymous, aggregated statistics about the use of our products, services and loyalty programs, which we may share with third parties and/or make available to the public.</p>
<p data-mce-fragment="1"><strong data-mce-fragment="1">&nbsp;</strong></p>
<p data-mce-fragment="1"><strong data-mce-fragment="1">2.4 Product/Services Improvement:</strong></p>
<p data-mce-fragment="1">TGRL may use your information to improve and enhance existing TGRL’s products, services and applications and develop new offerings, recommendations, advertisements and other communications and learn more about customers’ preferences in general.</p>
<p data-mce-fragment="1"><strong data-mce-fragment="1">&nbsp;</strong></p>
<p data-mce-fragment="1"><strong data-mce-fragment="1">2.5 Information Collected by automated means</strong></p>
<p data-mce-fragment="1">We use various tools to enhance your user experience and track users of our websites, including cookies and web beacons. These tools may collect personal information including your IP address and domain name, your browser version and operating system, traffic data, location data, web logs and other communication data, and the resources that you access.</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1">We use information collected from cookies and web beacons to improve your experience and the overall quality of our services. We may also use cookies and web beacons to collect information from third parties (such as Google) to help advertise our products and services, to analyse the effectiveness of our marketing or the performance of our websites, and to determine whether you may be interested in other products or services. We also use web beacons to help deliver cookies and compile analytics. Our cookies and web beacons may also come from third-party service providers who have permission to place such tools on our websites.</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1">You can refuse to accept and delete cookies by adjusting your browser setting. Please note that refusing or deleting cookies may impact your browsing experience on our websites, or prevent you from using some of its services, and it may result in the deletion of any preferences you have set.</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1">We may combine the information you provide us and information we automatically collect with information from public or third-party sources.</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1"><strong data-mce-fragment="1">2.6 Publish your reviews, comments and content:</strong></p>
<p data-mce-fragment="1">Where you have uploaded product reviews, comments or content to our websites or application and made them publicly visible TGRL link to, publish or publicize these materials elsewhere including in our own advertisements.</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1"><strong data-mce-fragment="1">2.7 With regard to General Information, by using our website, you accept that we may use that information</strong>:</p>
<p data-mce-fragment="1">i. &nbsp; &nbsp;to help us make our website more useful, such as assessing what information is of most and least interest to you</p>
<p data-mce-fragment="1">ii. &nbsp; &nbsp; to determine the website’s technical design specifications</p>
<p data-mce-fragment="1">iii. &nbsp; &nbsp;to identify the system performance or problem areas</p>
<p data-mce-fragment="1">iv. &nbsp; &nbsp;to track activity on the website, prepare reports, assess trends, and otherwise monitoring the way in which the website is being used – none of which would be in a way that personally identifies any.</p>
</div>
</section>
<section id="otnotice-section-e9cef8cf-14fc-4d68-8d81-9b19cc765f55" class="otnotice-section" data-mce-fragment="1">
<h2 class="otnotice-section-header" data-mce-fragment="1">Who Do We Share Your Data With?</h2>
<div class="otnotice-section-content" data-mce-fragment="1">
<p id="isPasted" data-mce-fragment="1">We may share your personal information to assist with managing and running this site. We may share this information:</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1"><strong data-mce-fragment="1">3.1 Third party service providers:&nbsp;</strong></p>
<p data-mce-fragment="1">These third party service providers have access to personal information needed to perform their functions, but may not use it for other purposes. Further, they must process that information in accordance with this Privacy Notice and as permitted by the applicable laws.</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1"><strong data-mce-fragment="1">3.2 Business Transfers:</strong>&nbsp;</p>
<p data-mce-fragment="1">As we continue to develop our business, we might sell or buy businesses or services. In such transactions, personal information generally is one of the transferred business assets but remains subject to the promises made in any pre-existing Privacy Notice (unless, of course, the individual consents otherwise). Also, in the unlikely event that TGRL or substantially all of its assets are acquired, your information will of course be one of the transferred assets.</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1"><strong data-mce-fragment="1">3.3 Legal concerns:&nbsp;</strong></p>
<p data-mce-fragment="1">We may preserve, and have the right to disclose any information about you or your use of this site, without your prior permission if we have a good faith belief that such action is necessary to: (a) protect and defend the rights, property, or safety of our company or its affiliates, other users of this site, or the public; (b) enforce the terms and conditions that apply to use of this site; (c) respond to claims that any content violates the rights of third parties; (d) respond to claims of suspected or actual illegal activity; (e) respond to an audit or investigate a complaint or security threat; or (f) comply with applicable law, regulation, legal process, or governmental requests.</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1"><strong data-mce-fragment="1">3.4 At your option:&nbsp;</strong></p>
<p data-mce-fragment="1">Other than as set out above, you will receive consent when personal information about you might be shared with third parties, and you will have an opportunity to choose not to share the information.</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1"><strong data-mce-fragment="1">3.5 Security and protection of our interests/assets:&nbsp;</strong></p>
<p data-mce-fragment="1">Deploying and maintaining technical and organizational security measures, conducting internal audits and investigations, conducting assessments to verify conflict of interests.</p>
<p data-mce-fragment="1"><strong data-mce-fragment="1">&nbsp;</strong></p>
<p data-mce-fragment="1"><strong data-mce-fragment="1">3.6 Advertising:&nbsp;</strong></p>
<p data-mce-fragment="1">We may also share information with our advertisers and our advertising service providers.&nbsp;</p>
<p data-mce-fragment="1">We will not disclose, share, sell, or otherwise disclose your information to unaffiliated third parties for their own marketing unless so authorized by you.</p>
</div>
</section>
<section id="otnotice-section-21fb8e79-fdf3-405d-8444-837f2f013980" class="otnotice-section" data-mce-fragment="1">
<h2 class="otnotice-section-header" data-mce-fragment="1">What Steps Do We Take To Protect Your Information?</h2>
<div class="otnotice-section-content" data-mce-fragment="1">
<p id="isPasted" data-mce-fragment="1">This site and all information submitted by you or on behalf of you through this site may be collected, stored, and processed in countries other than the one in which you reside, including, but not limited to, the UAE.</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1">We restrict access to your personal information to employees of ours, our affiliates, and third-party service providers who reasonably need it to support this site or provide our products or services. We have implemented physical, administrative, and technical safeguards to protect your personal information from unauthorized access. Although we use security measures to help protect your personal information against unauthorized disclosure, misuse, or alteration, and other incident with the disciplinary actions against the offender. As is the case with all computer networks linked to the internet, we cannot guarantee the security of information provided over the Internet and will not be responsible for breaches of security beyond our reasonable control.</p>
</div>
</section>
<section id="otnotice-section-d44f4972-16d2-4205-ab02-3586be74ee10" class="otnotice-section" data-mce-fragment="1">
<h2 class="otnotice-section-header" data-mce-fragment="1">How Long We Keep Your Information?</h2>
<div class="otnotice-section-content" data-mce-fragment="1">
<p id="isPasted" data-mce-fragment="1">We will always keep your personal information for the period required by law and where we need to do so in connection with legal action or an investigation involving TGRL.</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1">We keep your personal information for as long as needed or permitted for the purpose(s) for which it was obtained and consistent with applicable law. Otherwise, we will retain it for no longer than is necessary for the purposes for which the data was collected.</p>
</div>
</section>
<section id="otnotice-section-3e8f8e5a-5fd6-4452-a967-14dc0e6bc31a" class="otnotice-section" data-mce-fragment="1">
<h2 class="otnotice-section-header" data-mce-fragment="1">What Are Your Rights?</h2>
<div class="otnotice-section-content" data-mce-fragment="1">
<p id="isPasted" data-mce-fragment="1">You have choices about how your personal data is handled, and we are committed to providing you with reasonable access to your personal data and the ability to restrict, stop, review and limit the use of such data in accordance with applicable law.&nbsp;</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1">If you no longer want to receive electronic newsletters you signed up to receive or other marketing communications from TGRL, you can mail at<span data-mce-fragment="1">&nbsp;</span><strong data-mce-fragment="1">{{this.mail1}}</strong><span data-mce-fragment="1">&nbsp;</span>to unsubscribe from the mail. Data subjects have a number of rights under the Data Protection Law with respect to their personal data:</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1">(i) the right to receive information from a controller (i.e., right to access);&nbsp;</p>
<p data-mce-fragment="1">(ii) the right to request the transfer of their personal data;</p>
<p data-mce-fragment="1">(iii) the right to have their personal data corrected or erased (i.e., the right to be forgotten);&nbsp;</p>
<p data-mce-fragment="1">(iv) the right to restrict the processing of personal data in certain cases.&nbsp;</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1">The data subject can exercise this right in the following circumstances:</p>
<p data-mce-fragment="1">a. &nbsp; &nbsp;Where the data subject contests the accuracy of personal data;</p>
<p data-mce-fragment="1">b. &nbsp; &nbsp;Where the data subject objects to the processing of his/her personal data contrary to agreed purposes; or</p>
<p data-mce-fragment="1">c. &nbsp; &nbsp;Where the processing is performed in contravention of provisions of the Personal Data Protection Laws and the executive regulations.</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1">(v) the right to object to certain types of data processing (for example, if it is intended for the purpose of direct marketing or scientific and statistical research); and&nbsp;</p>
<p data-mce-fragment="1">(vi) the right to object to automated processing. Controllers are required to put in place a mechanism for communicating with data subjects.</p>
<p data-mce-fragment="1">&nbsp;</p>
<p data-mce-fragment="1">To invoke your data subject rights, you can submit a request via Email at<span data-mce-fragment="1">&nbsp;</span><strong data-mce-fragment="1">{{this.mail1}}</strong><span data-mce-fragment="1">&nbsp;</span>. Please note that we may require proof of your identity before we can give effect to these rights.</p>
</div>
</section>
<section id="otnotice-section-70763930-27b7-4434-a94e-8d78fabbee6d" class="otnotice-section" data-mce-fragment="1">
<h2 class="otnotice-section-header" data-mce-fragment="1">Changes To Privacy Notice</h2>
<div class="otnotice-section-content" data-mce-fragment="1">
<p id="isPasted" data-mce-fragment="1">TGRL reserves the right to amend this Privacy Notice at our discretion and at any time. This Privacy Notice is subject to review after a period of every 12 months from the previous version. When we make changes to this Privacy Notice, we will notify you by<span data-mce-fragment="1">&nbsp;</span><strong data-mce-fragment="1">{{this.mail1}}</strong>&nbsp; or through a Notice on our website homepage.&nbsp;</p>
</div>
</section>
  </div>
</div>
