<hr />
<div class="display-round-images">
  <div class="row">
    <img
      src="https://titanworld.com/cdn/shop/files/Best_seller_9e9d1e35-08e2-4d54-a510-8493a924d2f5.png?v=1702047808&width=520"
      alt="image1"
    />
    <p style="font-weight: 700; padding-top: 8px; color: grey">Best Sellers</p>
  </div>

  <div class="row">
    <img
      src="https://titanworld.com/cdn/shop/files/Automatic_4.png?v=1702047769&width=520"
      alt="image2"
    />
    <p style="font-weight: 700; padding-top: 8px; color: grey">Automatic</p>
  </div>

  <div class="row">
    <img
      src="https://titanworld.com/cdn/shop/files/Edge_3.png?v=1702224304&width=520"
      alt="image3"
    />
    <p style="font-weight: 700; padding-top: 8px; color: grey">Edge</p>
  </div>

  <div class="row">
    <img
      src="https://titanworld.com/cdn/shop/files/mechanical_46fec915-15c8-4e14-a0f0-292ff486ebaf.png?v=1702047893&width=520"
      alt="image4"
    />
    <p style="font-weight: 700; padding-top: 8px; color: grey">Mechanical</p>
  </div>

  <div class="row">
    <img
      src="https://titanworld.com/cdn/shop/files/Smart_0fb9d77e-fb71-43f8-aaa0-b9ebe96379b8.png?v=1702047955&width=520"
      alt="image5"
    />
    <p style="font-weight: 700; padding-top: 8px; color: grey">Smart</p>
  </div>

  <div class="row">
    <img
      src="https://titanworld.com/cdn/shop/files/Trending_a034eb71-de2c-4059-b1d0-7440ff002cef.png?v=1702048006&width=520"
      alt="image6"
    />
    <p style="font-weight: 700; padding-top: 8px; color: grey">Trending</p>
  </div>
</div>

<app-carousel></app-carousel>

<hr>
<div style="margin-left:550px;margin-bottom: 2%; margin-top: 1.5%;">
  <h1 style="align-self: center;font-family:'Trebuchet MS';">What Are You Looking For ?</h1>
</div>
<div class="display-round-images1">
  <div class="row1">
  <a routerLink="/shopping">
    <img
      src="https://titanworld.com/cdn/shop/files/fitness_85d3e4ea-82e4-4691-950d-c9ed9cffd513.png?v=1702047172"
      alt="image7"
    />
  </a>
    <p style="font-weight: 700; padding-top: 8px; font-size: 20px;">Fitness</p>
  </div>

  <div class="row1">
    <a routerLink="/shopping">
    <img
      src="https://titanworld.com/cdn/shop/files/partywear_a0405686-3266-4d07-a12f-ed16e9d76b01.png?v=1702047300"
      alt="image8"
    />
    </a>
    <p style="font-weight: 700; padding-top: 8px; font-size: 20px;">Raga</p>
  </div>

  <div class="row1">
    <a routerLink="/shopping">
    <img
      src="https://titanworld.com/cdn/shop/files/casual_e0d5e499-30e3-4dfc-b383-a27406e5f8fc.png?v=1702047343"
      alt="image9"
    />
    </a>
    <p style="font-weight: 500; padding-top: 8px; font-size: 20px;">Analog</p>
  </div>

  <div class="row1">
    <a routerLink="/shopping">
    <img
      src="https://titanworld.com/cdn/shop/files/workwear_4231343d-ca31-4fb2-b2af-ff0db239db03.png?v=1702047468"
      alt="image10"
    />
    </a>
    <p style="font-weight: 700; padding-top: 8px;font-size: 20px;">Workwear</p>
  </div>
</div>

<a href="" style="color:black"><h2 style="padding-left:700px;padding-bottom: 3%;">View Collections</h2></a>
<div class="display-round-images2">
  <div class="row2">
    <a routerLink="/shopping">
    <img
      src="https://titanworld.com/cdn/shop/files/Men_c80951ec-95b3-4f47-b0cb-b64463d82464.png?v=1702047542&width=440"
      alt="image7"
    />
    </a>
  </div>

  <div class="row2">
    <a routerLink="/shopping">
    <img
      src="https://titanworld.com/cdn/shop/files/smart_36778d2e-a934-4321-9ed3-8babf0977a70.png?v=1702047585&width=440"
      alt="image8"
    />
    </a>
  </div>

  <div class="row2">
    <a routerLink="/shopping">
    <img
      src="https://titanworld.com/cdn/shop/files/Women_e35fdd60-cf19-44c3-b1fa-1e4858e1aa90.png?v=1702047624&width=440"
      alt="image9"
    />
    </a>
  </div>
</div>

